//
// ACCESS
//


.collection {
  .cf;
  padding: 20px;
  color: @mdc-gray-600;
  position: fixed;
  right: 0;
  left: 301px;
  top: 0;
  box-shadow: 0 1px @mdc-gray-300;
  background: fade( white, 95% );
  z-index: 1;

  .collection-label,
  .collection-icon {
    float: left;
    line-height: 40px;
  }

  .collection-icon {
    margin-left: 10px;
    color: @mdc-gray-500;
  }

  .download {
    float: right;
    font-size: 0;

    .btn {
      margin-left: 10px;
    }
  }

  @media @mq-sm-max {
    display: none;
  }
}