.access {
  padding: 20px;

  .collection {
    .cf;
    margin-top: 20px;
  }

  .current-collection {
    float: left;
    line-height: 40px;
  }

  .download {
    float: right;
    font-size: 0;

    .btn {
      margin-left: 10px;
    }
  }

  @media @mq-sm-max {
    display: none;
  }
}