//
// HEADER
//


.site-header {
  padding: 20px;
  color: #3d464d;

  a {
    color: inherit;
  }

  .logo {
    display: block;
    width: 46px;
    height: 34px;
  }

  .description,
  .search,
  .share-btns {
    margin-top: 20px;
  }

  .description {
    color: #7b8994;
  }

  .share-btn {
    width: 33.333333333%;
    color: white;

    &.twitter {
      background: #55acee;
      background: linear-gradient( lighten( #55acee, 10% ), darken( #55acee, 10% ) );

      &:hover {
        background: lighten( #55acee, 5% );
        background: linear-gradient( lighten( #55acee, 15% ), darken( #55acee, 10% ) );
      }
    }

    &.facebook {
      background: #3b5998;
      background: linear-gradient( lighten( #3b5998, 10% ), darken( #3b5998, 10% ) );

      &:hover {
        background: lighten( #3b5998, 5% );
        background: linear-gradient( lighten( #3b5998, 15% ), darken( #3b5998, 10% ) );
      }
    }

    &.googleplus {
      background: #dd4b39;
      background: linear-gradient( lighten( #dd4b39, 10% ), darken( #dd4b39, 10% ) );

      &:hover {
        background: lighten( #dd4b39, 5% );
        background: linear-gradient( lighten( #dd4b39, 15% ), darken( #dd4b39, 10% ) );
      }
    }
  }

  @media @mq-sm-max {
    text-align: center;
    box-shadow: 0 1px fade( #3d464d, 15% );

    .logo {
      margin: auto;
    }

    .share-btns {
      display: none;
    }
  }

  @media @mq-lg-min {
    padding: 40px;
    float: left;
    width: 300px;
    margin-left: -300px;

    .description,
    .search,
    .share-btns {
      margin-top: 40px;
    }
  }
}