//
// HEADER
//


.site-header {
  padding: 20px;
  color: @co-mako;

  a {
    color: inherit;
  }

  .logo {
    display: block;
    width: 46px;
    height: 34px;
  }

  .description,
  .search,
  .share-btns {
    margin-top: 20px;
  }

  .description {
    color: @co-slate-gray;
  }

  .share-btn {
    width: 30%;
    color: white;

    &.twitter {
      background: @co-twitter;
      background: linear-gradient( lighten( @co-twitter, 10% ), darken( @co-twitter, 10% ) );

      &:hover {
        background: lighten( @co-twitter, 5% );
        background: linear-gradient( lighten( @co-twitter, 15% ), darken( @co-twitter, 10% ) );
      }
    }

    &.facebook {
      background: @co-facebook;
      background: linear-gradient( lighten( @co-facebook, 10% ), darken( @co-facebook, 10% ) );

      &:hover {
        background: lighten( @co-facebook, 5% );
        background: linear-gradient( lighten( @co-facebook, 15% ), darken( @co-facebook, 10% ) );
      }
    }

    &.googleplus {
      background: @co-googleplus;
      background: linear-gradient( lighten( @co-googleplus, 10% ), darken( @co-googleplus, 10% ) );

      &:hover {
        background: lighten( @co-googleplus, 5% );
        background: linear-gradient( lighten( @co-googleplus, 15% ), darken( @co-googleplus, 10% ) );
      }
    }

    + .share-btn {
      margin-left: 5%;
    }
  }

  @media @mq-sm-max {
    text-align: center;
    box-shadow: 0 1px fade( @co-mako, 15% );

    .logo {
      margin: auto;
    }

    .share-btns {
      display: none;
    }
  }

  @media @mq-lg-min {
    padding: 40px;
    float: left;
    width: 300px;
    margin-left: -300px;

    .description,
    .search,
    .share-btns {
      margin-top: 40px;
    }
  }
}