//
// HEADER
//


.site-header {
  padding: 20px;
  color: @co-mine-shaft;

  a {
    color: inherit;
  }

  .description,
  .search,
  .share-btns {
    margin-top: 20px;
  }

  .description {
    color: @co-boulder;
  }

  .share-btn {
    width: 30%;
    color: white;

    &.twitter {
      background: @co-twitter;

      &:hover {
        background: lighten( @co-twitter, 5% );
      }
    }

    &.facebook {
      background: @co-facebook;

      &:hover {
        background: lighten( @co-facebook, 5% );
      }
    }

    &.googleplus {
      background: @co-googleplus;

      &:hover {
        background: lighten( @co-googleplus, 5% );
      }
    }

    + .share-btn {
      margin-left: 5%;
    }
  }

  @media @mq-sm-max {
    text-align: center;
    box-shadow: 0 1px @co-alto;

    .logo {
      margin: auto;
    }

    .share-btns {
      display: none;
    }
  }

  @media @mq-lg-min {
    padding: 40px;
    float: left;
    width: 300px;
    margin-left: -300px;

    .description,
    .search,
    .share-btns {
      margin-top: 40px;
    }
  }
}