//
// TYPOGRAPHY
//


body {
  font: 16px/20px @ff-main;
  color: @co-mako;
}

a {
  text-decoration: none;
  transition: @tr-short;
}

h1 {
  font-size: 20px;
  line-height: 20px;
}

h2 {
  font-size: 16px;
  line-height: 20px;
}