/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.cf:after {
  display: table;
  clear: both;
  content: '';
}
.vertically-centered {
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  position: relative;
  top: 50%;
  display: block;
}
.ir {
  display: block;
  text-indent: -999em;
}
.is-hidden {
  display: none;
}
.font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input,
button,
select,
textarea {
  font: 16px 'omnes-pro', sans-serif;
}
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
textarea {
  display: block;
  width: 100%;
  padding: 10px 15px;
  border: none;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px rgba(61, 70, 77, 0.15), inset 0 1px 3px rgba(61, 70, 77, 0.15);
  -webkit-transition: 0.25s;
          transition: 0.25s;
}
input[type="email"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder,
input[type="url"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #bdc4ca;
}
input[type="email"]::-moz-placeholder,
input[type="number"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="text"]::-moz-placeholder,
input[type="url"]::-moz-placeholder,
textarea::-moz-placeholder {
  color: #bdc4ca;
}
input[type="email"]:-ms-input-placeholder,
input[type="number"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="text"]:-ms-input-placeholder,
input[type="url"]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #bdc4ca;
}
input[type="email"]::placeholder,
input[type="number"]::placeholder,
input[type="password"]::placeholder,
input[type="search"]::placeholder,
input[type="tel"]::placeholder,
input[type="text"]::placeholder,
input[type="url"]::placeholder,
textarea::placeholder {
  color: #bdc4ca;
}
input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="url"]:focus,
textarea:focus {
  box-shadow: inset 0 0 0 1px #007ee5, inset 0 1px 3px rgba(61, 70, 77, 0.15);
  outline: none;
}
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"] {
  height: 40px;
}
input[type="search"] {
  -webkit-appearance: none;
}
input[type="search"]::-webkit-search-decoration {
  display: none;
}
img,
svg,
audio,
video {
  max-width: 100%;
  vertical-align: top;
}
svg {
  fill: currentcolor;
}
body {
  font: 16px/20px 'omnes-pro', sans-serif;
  color: #3d464d;
}
a {
  text-decoration: none;
  -webkit-transition: 0.25s;
          transition: 0.25s;
}
h1 {
  font-size: 20px;
  line-height: 20px;
}
h2 {
  font-size: 16px;
  line-height: 20px;
}
.bci {
  top: 2px;
}
.btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  cursor: pointer;
  border: none;
  box-shadow: 0 1px 3px rgba(61, 70, 77, 0.15);
  background: #007ee5;
  background: -webkit-linear-gradient(#1998ff, #0062b2);
  background: linear-gradient(#1998ff, #0062b2);
  padding: 10px 20px;
  border-radius: 2px;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  color: white;
  -webkit-transition: 0.25s;
          transition: 0.25s;
}
.btn:hover {
  background: #008cff;
  background: -webkit-linear-gradient(#32a3ff, #0062b2);
  background: linear-gradient(#32a3ff, #0062b2);
}
.btn:focus {
  outline: none;
}
.btn-icon {
  margin-right: 10px;
}
.btn-group {
  font-size: 0;
}
.btn-group .btn {
  border-radius: 0;
  display: inline-block;
}
.btn-group .btn:first-child {
  border-radius: 2px 0 0 2px;
}
.btn-group .btn:last-child {
  border-radius: 0 2px 2px 0;
}
.brand {
  padding: 21px 20px 20px;
  box-shadow: 0 1px rgba(61, 70, 77, 0.15);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
.brand:after {
  display: table;
  clear: both;
  content: '';
}
.brand .brand-header {
  position: relative;
}
.brand .brand-check {
  position: absolute;
  width: 24px;
  height: 24px;
  line-height: 24px;
  top: 8px;
  left: -32px;
  background: white;
  box-shadow: inset 0 0 0 1px rgba(61, 70, 77, 0.15);
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: scale(0.75);
      -ms-transform: scale(0.75);
          transform: scale(0.75);
  -webkit-transition: .1s;
          transition: .1s;
}
.brand .brand-check:before {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #007ee5;
  background: -webkit-linear-gradient(#1998ff, #0062b2);
  background: linear-gradient(#1998ff, #0062b2);
}
.brand .brand-colors {
  position: relative;
}
@media screen and ( max-width: 1023px ) {
  .brand .brand-header {
    margin-bottom: 20px;
  }
}
@media screen and ( min-width: 1024px ) {
  .brand {
    padding: 22px 10px 20px 20px;
  }
  .brand.is-collected .brand-check {
    opacity: 1;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: .1s;
            transition: .1s;
  }
  .brand .brand-header {
    width: 25%;
    float: left;
  }
  .brand .brand-title {
    line-height: 40px;
  }
  .brand .brand-colors {
    width: 75%;
    float: right;
  }
}
.color.light .color-code {
  color: #3d464d;
}
.color .color-inner {
  border-radius: 2px;
}
.color .color-code {
  box-shadow: none !important;
  background: transparent;
  text-align: center;
  color: white;
  cursor: pointer;
}
@media screen and ( max-width: 1023px ) {
  .color {
    width: auto !important;
    margin-top: 10px;
  }
}
@media screen and ( min-width: 1024px ) {
  .color {
    float: left;
    box-sizing: border-box;
    padding: 0 10px;
  }
  .color .color-inner:hover {
    position: absolute;
    right: 10px;
    left: 10px;
    z-index: 1;
  }
  .color .color-inner:hover .color-code {
    opacity: 1;
  }
  .color .color-code {
    opacity: 0;
  }
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
}
@media screen and ( min-width: 1024px ) {
  body {
    padding-left: 300px;
  }
}
.collection {
  padding: 20px;
  color: #7b8994;
  position: fixed;
  right: 0;
  left: 301px;
  top: 0;
  box-shadow: 0 1px rgba(61, 70, 77, 0.15);
  background: rgba(255, 255, 255, 0.95);
  z-index: 1;
}
.collection:after {
  display: table;
  clear: both;
  content: '';
}
.collection .current-collection {
  float: left;
  line-height: 40px;
}
.collection .download {
  float: right;
  font-size: 0;
}
.collection .download .btn {
  margin-left: 10px;
}
@media screen and ( max-width: 1023px ) {
  .collection {
    display: none;
  }
}
.site-header {
  padding: 20px;
  color: #3d464d;
}
.site-header a {
  color: inherit;
}
.site-header .logo {
  display: block;
  width: 46px;
  height: 34px;
}
.site-header .description,
.site-header .search,
.site-header .share-btns {
  margin-top: 20px;
}
.site-header .description {
  color: #7b8994;
}
.site-header .share-btn {
  width: 33.333333333%;
  color: white;
}
.site-header .share-btn.twitter {
  background: #55acee;
  background: -webkit-linear-gradient(#83c3f3, #2795e9);
  background: linear-gradient(#83c3f3, #2795e9);
}
.site-header .share-btn.twitter:hover {
  background: #6cb7f0;
  background: -webkit-linear-gradient(#9bcef5, #2795e9);
  background: linear-gradient(#9bcef5, #2795e9);
}
.site-header .share-btn.facebook {
  background: #3b5998;
  background: -webkit-linear-gradient(#4c70ba, #2d4373);
  background: linear-gradient(#4c70ba, #2d4373);
}
.site-header .share-btn.facebook:hover {
  background: #4264aa;
  background: -webkit-linear-gradient(#5f7ec1, #2d4373);
  background: linear-gradient(#5f7ec1, #2d4373);
}
.site-header .share-btn.googleplus {
  background: #dd4b39;
  background: -webkit-linear-gradient(#e47365, #c23321);
  background: linear-gradient(#e47365, #c23321);
}
.site-header .share-btn.googleplus:hover {
  background: #e15f4f;
  background: -webkit-linear-gradient(#e8867a, #c23321);
  background: linear-gradient(#e8867a, #c23321);
}
@media screen and ( max-width: 1023px ) {
  .site-header {
    text-align: center;
    box-shadow: 0 1px rgba(61, 70, 77, 0.15);
  }
  .site-header .logo {
    margin: auto;
  }
  .site-header .share-btns {
    display: none;
  }
}
@media screen and ( min-width: 1024px ) {
  .site-header {
    padding: 40px;
    float: left;
    width: 300px;
    margin-left: -300px;
  }
  .site-header .description,
  .site-header .search,
  .site-header .share-btns {
    margin-top: 40px;
  }
}
@media screen and ( min-width: 1024px ) {
  .main {
    padding: 80px 0 0 1px;
    float: right;
    width: 100%;
    min-height: 100vh;
    box-shadow: inset 1px 0 rgba(61, 70, 77, 0.15);
  }
}
