//
// MIXINS
//


// UTILITIES

.cf {
  &:after {
    display: table;
    clear: both;
    content: '';
  }
}

.vertically-centered {
  transform: translateY( -50% );
  position: relative;
  top: 50%;
  display: block;
}

.ir {
  display: block;
  text-indent: -999em;
}


// CSS3

.font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.appearance( @value ) {
  -webkit-appearance: @value;
  -moz-appearance: @value;
  appearance: @value;
}