//
// VARIABLES
//


// Z-INDEX

@zi-header: 50;


// COLORS

@co-googleplus: #dd4b39;
@co-twitter:    #55acee;
@co-facebook:   #3b5998;


// FONTS

@ff-main: ratio, sans-serif;


// TRANSITIONS

@tr-short:  .25s;
@tr-medium: .5s;
@tr-long:   .75s;


// MEDIA QUERIES

@mq-lg-min: ~'screen and ( min-width: 1024px )';
@mq-sm-max: ~'screen and ( max-width: 1023px )';