<%= font_face %>

.bci {
  position: relative;
  font-size: 16px;
  vertical-align: top;
  text-align: center;
  display: inline-block;
  font-family: '<%= font_name %>';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  speak: none;
}

<%= glyphs %>