@font-face {
  font-family: "bc-icons";
  src: url("./bc-icons.eot");
  src: url("./bc-icons.eot?#iefix") format("embedded-opentype"),
       url("./bc-icons.woff") format("woff"),
       url("./bc-icons.ttf") format("truetype"),
       url("./bc-icons.svg#bc-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "bc-icons";
    src: url("./bc-icons.svg#bc-icons") format("svg");
  }
}

.bci {
  position: relative;
  font-size: 16px;
  vertical-align: top;
  text-align: center;
  display: inline-block;
  font-family: 'bc-icons';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  speak: none;
}

.bci-download:before { content: "\f100"; }
.bci-facebook:before { content: "\f101"; }
.bci-googleplus:before { content: "\f103"; }
.bci-link:before { content: "\f104"; }
.bci-twitter:before { content: "\f102"; }