//
// BRAND
//


.brand {
  .cf;
  padding: 21px 20px 20px;
  box-shadow: 0 1px @mdc-gray-300;
  user-select: none;
  cursor: pointer;

  .brand-header {
    position: relative;
  }

  .brand-dot {
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    line-height: 24px;
    top: 8px;
    left: -32px;
    background: white;
    box-shadow: inset 0 0 0 1px @mdc-gray-300;
    border-radius: 50%;
    opacity: 0;
    transform: scale( .75 );
    transition: .1s;

    &:before {
      content: '';
      position: absolute;
      top: 4px;
      left: 4px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: @mdc-blue-500;
    }
  }

  .brand-colors {
    position: relative;
  }

  @media @mq-sm-max {
    .brand-header {
      margin-bottom: 20px
    }
  }

  @media @mq-lg-min {
    padding: 22px 10px 20px 20px;

    &.is-collected .brand-dot {
      opacity: 1;
      transform: scale( 1 );
      transition: .1s;
    }

    .brand-header {
      width: 25%;
      float: left;
    }

    .brand-title {
      line-height: 40px;
    }

    .brand-colors {
      width: 75%;
      float: right;
    }
  }
}