//
// BUTTONS
//


// BASE

.btn {
  .appearance( none );
  user-select: none;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  cursor: pointer;
  border: none;
  box-shadow: 0 1px 3px fade( #3d464d, 15% );
  background: linear-gradient( #4caeff, #007ee5 );
  padding: 10px 20px;
  border-radius: 2px;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  color: white;
  transition: @tr-short;

  &:hover {
    background: linear-gradient( #5db6ff, #007ee5 );
  }

  &:focus {
    outline: none;
  }
}

.btn-icon {
  margin-right: 10px;
}