//
// BUTTONS
//


// BASE

.btn {
  .appearance( none );
  user-select: none;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  cursor: pointer;
  border: none;
  box-shadow: 0 1px 3px fade( @co-mako, 15% );
  background: @co-azure-radiance;
  background: linear-gradient( lighten( @co-azure-radiance, 10% ), darken( @co-azure-radiance, 10% ) );
  padding: 10px 20px;
  border-radius: 2px;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  color: white;
  transition: @tr-short;

  &:hover {
    background: lighten( @co-azure-radiance, 5% );
    background: linear-gradient( lighten( @co-azure-radiance, 15% ), darken( @co-azure-radiance, 10% ) );
  }

  &:focus {
    outline: none;
  }
}

.btn-icon {
  margin-right: 10px;
}